/* RESPONSIVE STYLES */
@media (max-width: 1024px) {
    .nav-toggle {
        display: block;
    }

    .nav-links {
        list-style: none;
        gap: 2rem;
        display: flex;
        align-items: center;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.7s ease, opacity 0.4s ease;
        flex-direction: column;
    }
    
    .nav-links.open {
        max-height: 600px;
        opacity: 1;
    }

    .nav-links li {
        animation: slideFade 0.5s ease forwards;
    }

    @keyframes slideFade {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1; 
            transform: translateY(0);
        }
    }
}

/* transper */
/* glg sheet has to be done */
